.header {
  text-align: center;
}

.feed {
  margin: 0px 0px 0px 530px;
}

body {
  background-image: url("img-folder/nba-colors.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
